div.addEventBlock {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.form-select {
    margin-right: 20px;
}

.td_item {
    padding: 0 !important;
}

.form-select,
.btn,
.newEventInput input {
    max-width: 250px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
}

.flex span,
.newEventInput span {
    width: 200px;
}

.personEvent {
    background-color: lightgreen !important;
    padding: 8px;
}

.deleteButton {
    float: right;
}

.deleteButton:hover {
    cursor: pointer;
}